/*
  - Mobile: 375px
  - Desktop: 1440px
 */

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  --originalBlue800: hsl(234, 29%, 20%);
  --originalBlue700: hsl(235, 18%, 26%);
  --originalGrey: hsl(0, 0%, 58%);
  --originalWhite: hsl(0, 0%, 100%);
  --primaryRed: hsl(4, 100%, 67%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--originalBlue800);
  width: 98vw;
  height: 98vh;
  overflow: hidden;
  color: var(--originalBlue800);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  background-color: var(--originalWhite);
  width: 50%;
  height: 60%;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.form-column {
  flex: 1 1 0;
  min-width: 0;

  height: 100%;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#form-text {
  width: 100%;
}

#desktop-image {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#desktop-image img {
  max-width: 100%;
  /* max-height: 100%; */
  object-fit: contain;
  display: block;
}